//@ts-nocheck
let numbers: int[] = [1.2, 3, 'TEXT', true]

let a: str = 1

const b = "Hello, world!"

var c = 3.14

if (a == 1) {
  a = 2
} else if (a == 2) {
  a = 3
} else {
  a = 4
}

for (let i: int = 0; i < 10; i++) {
  print(i)
}

while (a < 10) {
  print(a)
  a++
}

function add(a: int = 1, b: int): str {
  return a + b
}
class Person {
  name: str = 'John Doe'
  name2: str

  sayHello(name: str) {
    print(name)
  }
}

let p = Person()
let x: int = 1

let h: bool = true

let i: int = a > c ? 1 : 2.0


let p = Person()
let x: int = 1

let h: bool = true

let i: int = a > c ? 1 : 2.0